body{  font-family: 'Playfair';
    margin: 0;
    padding: 0;
    background-color: #d2d7db;
}
header{
    background: url(rupo.webp);
    height: 80vh;
    background-size: cover;
}
li { list-style: none;
    margin-right: 25px;
}
    
.menu { display: flex;
justify-content: space-between;
align-items: center;
color: aliceblue;
text-decoration: none;
 }
 ul { display: flex;}

 a { text-decoration: none;
    color: white; 
}
h2{
    font-size: 40px;
    text-align: center;
}
h3{
    text-align: center;
}
.img{

    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.img div{
    width: 23%;
    padding: 38px;
}

a:hover{
    color: #b28405;
}

#selected{
    color: #b28405;
   
}

form{
    background-color: black;
    padding: 20px;
    color: #999;
    width: 300px;
    font-size: 16px;
    text-align: left;
}

.formulario p{
    text-align: center;
    font-size: 24px;
    color: aliceblue;
}
.menu img{
    margin-left: 4%;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
.field{
    border: solid 1px;
    padding: 10px ;
    width: 280px;
}


.bot{
    color: aliceblue;
    font-size: 14px;
    padding:10px 20px 10px 20px;
    background: red;
    width: 250px;

    }
