body {
    font-family: 'Playfair';
    margin: 0;
    padding: 0;
    background-color: #585859;
}
header{
    background: url(simbolo.jpg);

    background-size: cover;
}
h1{
    text-align: center;
}
.ambos{
    display: flex;
    justify-content: space-between;
    align-items: normal;
}

.tt{
    text-align: justify;
    margin-left: 7%;
    margin-right: 55%;
    font-size: 20px;
    border: grey 15px double;
    padding: 20px 20px;
    background-color: #d2d7db ;
    color: black;
}

h2{
    font-size: 40px;
    margin-left: 15%;
}

.eee{
    text-align: justify;
    margin-left: 55%;
    margin-right: 7%;
    font-size: 20px;
    margin-top: -20%;
      
}
h3{
    text-align: center;
}